@font-face {
    font-family:'arial-black';
    src:url('../fonts/arial-black.ttf');
}
@font-face {
    font-family:'neutra';
    src:url('../fonts/neutra.ttf');
}
@font-face {
    font-family:'helvetica';
    src:url('../fonts/helvetica.ttf');
}

$blue-green:#a6cfcc;
$dark:#46464a;

body{
    max-width:1200px;
    margin:0 auto;
}

main {
    background-color:white;
    margin-top:100vh;
}

.hidden{
    display:none;
}

.helper{
    height:100%;
    width:0px;
    display:block;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    grid-column-gap: 30px;
    padding: 0 25px;
}

.webLogo{
  display: none;
}

#main-img-section {
    background-image:url('../images/top-bg.jpg');
    margin-top:100px;
    height:50vh;
    max-width:1200px;
    width:100%;
    background-size:cover;
    position:fixed;
    z-index:-1;
    top:0;

    #main-img-text{
        position:absolute;
        margin-left:25px;
        bottom:0px;
        z-index:2;
        h2{
            font-family:'arial-black',arial,sans-serif;
            font-size:60px;
            color:$blue-green;
            line-height:50px;
        }

        .rotate-90{
            color:black;
            font-size:15px;
            line-height:0px;
            width:30px;
            float:left;
            margin:19px 0 0 -19px;
            // padding-bottom:18px;
            // max-height:92px;
            /* Safari */
               -webkit-transform: rotate(-90deg);
            /* Firefox */
            -moz-transform: rotate(-90deg);

            /* IE */
            -ms-transform: rotate(-90deg);

            /* Opera */
            -o-transform: rotate(-90deg);

            /* Internet Explorer */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            transform-origin: right bottom;
        }

        h2:last-child{
            font-size:65px;
            margin-left:20px;
        }
    }

    #succulent-plant-main-img{
        position:absolute;
        bottom:-150px;
        right:-150px;
        width:300px;
        z-index:-1;
    }
}

header{
    #top-section{
        position:fixed;
        top:0;
        width:100%;
        max-width:1200px;
        background-color:$dark;
        height:100px;
        z-index:100;
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));
        grid-column-gap: 30px;
        img{
            grid-column:span 2;
            margin:auto;
            max-width:100%;
            width:60%;
        }
        button {
            background-color:white;
            background: url('../images/cheeseburger.svg') center no-repeat;
            border: none;
            transition: all 400ms ease;
            grid-column:4 / 5;
            height:50px;
            width:50px;
            margin:25px auto 0px auto;
        }
        button.expanded {
            background: url('../images/x_svg.svg') center no-repeat;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            max-width:100%;
            height:30px;
            width:30px;
            margin:35px auto 0px auto;
        }
    }

    nav{
        width:100%;
        top:100px;
        position:fixed;
        z-index:100;
        ul{
            display:none;
            li{
                text-align:center;
                font-family:'arial-black', arial, sans-serif;
                color:white;
                cursor:pointer;
                padding:32px;
                text-transform:uppercase;
                font-size:30px;
            }
            li:nth-child(odd){
                background-color:#68686a;
            }
            li:hover{
                color:$blue-green;
            }
        }
        ul.slideToggle {
            display:inline-block;
            background-color:$dark;
            width:100%;
        }
    }
}

#our-roots{
    padding-top: 100px;

    article{
        grid-column:1 / -1;

        h2{
            font-size:40px;
            color:$blue-green;
            font-family:'neutra',arial,sans-serif;
            margin-bottom:50px;
        }

        p{
            font-family:'helvetica',arial,sans-serif;
            font-size:20px;
            line-height:27px;
        }
    }

    img{
        margin-top:100px;
        position:relative;
        right:55px;
        transition: all 600ms ease-out;
        width:200px;
    }
    img.scrolled{
        right:25px;
    }
}

#product {
    margin-top:100px;

    article{
        display:contents;
        h2{
            grid-column:1 / -1;
            font-size:40px;
            color:$blue-green;
            font-family:'neutra',arial,sans-serif;
            margin-bottom:50px;
        }

        img{
            margin:150px auto;
            grid-column:1 / -1;
            order:3;
        }

        p {
            grid-column:1 / -1;
            font-family:'helvetica',arial,sans-serif;
            font-size:20px;
            line-height:27px;
        }
    }
}

#feature-img-divider{
    background-image:url(../images/divider-mobile.jpg);
    background-position: center;
    background-size:cover;
    height:150px;
    position:relative;

    #img-divider-inner-text{
        position:absolute;
        bottom:7px;
        right:25px;
    }
    h2{
        text-align:right;
        text-transform:uppercase;
        font-family:'arial-black',arial, sans-serif;
        color:white;
        font-size:30px;
        line-height:10px;
    }
    h2:first-child{
        font-size:20px;
        line-height:2px;
    }
    h2:last-child{
        font-size:56px;
        line-height:30px;
        color:black;
    }
}

#features-section{
    margin-top:100px;
    padding:0px;
    h2{
        font-size:40px;
        color:$blue-green;
        font-family:'neutra',arial,sans-serif;
        margin-bottom:50px;
        grid-column: 1/ -1;
        padding:0 25px;
    }

    .key-features-circle{
        padding-top:50px;
        grid-column:1 / -1;
        margin:auto;
        position:relative;

        p{
            position:absolute;
            top:0;
            margin:100px 50px 10px 50px;
            width:200px;
            height:200px;
            line-height:200px;
            text-align:center;
            font-family:'arial-black',arial,sans-serif;
            font-size:20px;
        }

        h3{
            text-align:center;
            text-transform:uppercase;
            font-family:'arial-black',arial,sans-serif;
        }

        .radial-progress {
            $circle-size: 200px;
            $circle-background: $dark;
            $circle-color: #a6cfcc;
            $inset-size: 150px;
            $inset-color: #fbfbfb;
            $transition-length: 1s;
            $shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
            margin:50px 50px 10px 50px;
            width: $circle-size;
            height: $circle-size;
            background-color: $circle-background;
            border-radius: 50%;
            .circle {
                .mask.full{
                    .fill{
                    }
                }
                .mask, .fill{
                    width: $circle-size;
                    height: $circle-size;
                    position: absolute;
                    border-radius: 50%;
                }
                .mask, .fill {
                    -webkit-backface-visibility: hidden;
                    transition: -webkit-transform $transition-length;
                    transition: -ms-transform $transition-length;
                    transition: transform $transition-length;
                }
                .mask {
                    clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
                    .fill {
                        clip: rect(0px, $circle-size/2, $circle-size, 0px);
                        background-color: $circle-color;
                    }
                }
            }
            .inset {
                width: $inset-size;
                height: $inset-size;
                position: absolute;
                margin-left: ($circle-size - $inset-size)/2;
                margin-top: ($circle-size - $inset-size)/2;
                background-color: $inset-color;
                border-radius: 50%;
            }
        }
    }

    #key-features-crl-1.crl-animate{
        transition: all 600ms ease-out;
        .circle {
            .mask.full{
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                .fill{
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
            .mask.half{
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                .fill.fix{
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }
        }
    }

    #key-features-crl-2.crl-animate{
        transition: all 600ms ease-out;
        .circle {
            .mask.full{
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                .fill{
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
            .mask.half{
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                .fill.fix{
                    -webkit-transform: rotate(36deg);
                    -ms-transform: rotate(36deg);
                    transform: rotate(36deg);
                }
            }
        }
    }
    #key-features-crl-3.crl-animate{
        transition: all 600ms ease-out;
        .circle {
            .mask.full{
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                .fill{
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
            .mask.half{
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                .fill.fix{
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }
        }
    }
}

#how-it-works{
    margin-top:100px;

    article{
        display:contents;

        h2{
            grid-column:1 / -1;
            font-size:40px;
            color:$blue-green;
            font-family:'neutra',arial,sans-serif;
            margin-bottom:50px;
        }

        p{
            grid-column:1 / -1;
            font-family:'helvetica',arial,sans-serif;
            font-size:20px;
            line-height:27px;
        }

        button{
            grid-column:2 / 4;
            margin-top:50px;
            border:none;
            background-color:#a7cecb;
            color:white;
            width:initial;
            border-radius:10px;
            height:50px;
            font-size:15px;
            font-family:'neutra',arial,sans-serif;
        }
    }

    img{
        display:none;
    }
}

#contact{
    margin-top:100px;
    background-color:$blue-green;
    padding-top:50px;
    padding-bottom:100px;

    h2{
        grid-column:1 / -1;
        text-align:center;
        font-family:'arial-black', arial, sans-serif;
        font-size:50px;
        color:white;
        line-height:34px;
    }
    h2:first-child{
        color:black;
        font-size:62px;
    }

    form{
        margin-top:100px;
        grid-column:1 / -1;
        font-family:'helvetica',arial,sans-serif;

        label{
            grid-column:1 / -1;
            font-size:30px;
        }

        input, textarea, #submit{
            margin-top:25px;
            margin-bottom:50px;
            max-width:100%;
            border:none;
            border-radius:10px;
            // height:100px;
            padding:25px;
            font-family:'helvetica',arial,sans-serif;
            grid-column:1 / -1;
            font-size:30px;
        }

        textarea{
            height:100px;
            margin-bottom:30px;
        }

        #submit{
            background-color:white;
            width:initial;
            margin:0 auto;
            grid-column:2 / 4;
            width:100%;
            height:50px;
            font-size:15px;
            line-height:50px;
            padding:0px;
            font-family:'neutra',arial,sans-serif;
        }
    }
}

footer{
    background-color:$blue-green;

    h2{
        margin-top:50px;
        grid-column:1 / -1;
        text-align:center;
        font-size:30px;
        font-family:'neutra',arial,sans-serif;
        margin-bottom:100px;
    }
    h2:last-child{
        font-size:20px;
        color:white;
    }

    nav{
        display:contents;
        ul{
            display:contents;
            li{
                display:inline;
                grid-column:span 1;
                margin:0 auto;
                p{
                    line-height:50px !important;
                    color:$blue-green;
                    width:50px;
                    height:50px;
                    background-color:white;
                    border-radius:100%;
                    text-align:center;
                    font-size:30px !important;
                }
                p:hover{
                    color:white;
                    background-color:$dark;
                    cursor:pointer;
                }
            }
        }
    }
}

#light-box-message{
    position:fixed;
    z-index:200;
    width:100%;
    max-width:1200px;
    height:100vh;
    background-color:rgba(0,0,0,0.8);
    top:0;

    div{
        width:200px;
        height:200px;
        background-color:$blue-green;
        margin:auto;
        margin-top:20vh;
        border-radius:20px;

        #light-box-msg-close{
            background: url('../images/x_svg.svg') center no-repeat;
            width:30px;
            height:30px;
            border:none;
            margin:10px 0 0 10px;
        }
        h2{
            color:white;
            font-family:'arial-black', arial, sans-serif;
            text-align:center;
            text-transform:uppercase;
            padding-top:10%;
            font-size:30px;
        }
        p{
            color:black;
            font-family:'helvetica', arial, sans-serif;
            text-transform:uppercase;
            font-size:40px;
            text-align:center;
            padding-top:20px;
        }
        p:hover{
            cursor:pointer;
        }
    }
}

@media only screen and (min-width:768px){
    @import 'tablet';
}


@media only screen and (min-width:1024px){
    @import 'desktop';
}
